<nav>
  <ul>
    <li><a href="#"><b><%= @user_login.email%></b></a>
    <li><a href="/logout"><button>Close session</button></a></li>
      
    </li> 
   
  </ul>
  <br clear="all">
</nav>

<h1 class="view">Encuesta hasta un Chango</h1>
<h2><%= @user_login.name%></h2>
<h2>Survey: <%= @last_survey.survey %></h2>
<h3 id="tip">Create survey questions:</h3>
 <form id="create_question" action="/create_question" method="post">
    <input type="text" name="question" value="¿?" placeholder="Write your question">
    <input type="submit" value="Create question">
  </form><br><br>

<div id="answer"></div>



