<header class="header">Encuesta hasta un Chango</header>
<nav>
  <ul>
    <li><a href="#"><b><%= @user_login.name%></b></a>
    <li><a href="/logout"><button>Close session</button></a></li>    
  </ul>
  <br clear="all">
</nav>
<p>En vista vote survey</p>
